body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4ff;
  }
  .container {
    text-align: center;
  }
  .langWrap{
    background: #333;
  }
  a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    background: #333;
  }
  a.active{
    background: #f21313;
  }
  